extends ../layout

block content
  h3 Results for #{dataset_name}

  .alert.alert-info To add data, send a POST request to /datasets/#{dataset_name}. Your API key is #{user.api_key}

  a(href="/datasets/#{dataset_name}.csv") Download as CSV

  table.table.table-bordered
    thead
      tr
        for key in keys
          th #{key}
        th created_at
    for datum in data
      tr
        for key in keys
          td #{datum.data[key]}
        td #{datum.created_at}